$text-color: #ddd;
$text-color-highlight: #fff;
$text-color-tame: #999;

$bg-color: #222;
$bg-color-highlight: #444;


body {
    background-color: $bg-color;
    color: $text-color;
}

pre {
    color: $text-color;
}


.list-group .list-group-item {
    color: $text-color;
    background: $bg-color;
}


